.btn{
    padding: 10px;
    border: unset;
    color: white;
}

.btn-primary{
    background: #13a5b8;
}

.btn-secondary{
    background: #e71a74;
}

.btn-info{
    background: #00a6ff;
}

.btn-danger{
    background: red;
}

input{
    padding: 8px;
}

.form-control{
    margin-bottom: 10px;
}
